<app-header [bgUrl]="'images/aboutMe.jpg'" [heading]="'Login'" ></app-header>
<div class="container">
  <form [formGroup]="userForm" (ngSubmit)="login()" novalidate>
    <div class="form-group">
      <label for="userName">User Name</label>
      <input type="text" id="userName" class="form-control" formControlName="username" />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" class="form-control" formControlName="password" />
    </div>
    <div class="form-group">
      <input type="submit" value="login" class="btn btn-primary" />
    </div>
  </form>
</div>